 .signupform {
     display: flex;
     flex-direction: row;
     text-align: left;
    justify-content: center;
    
 }
 
 label {
    
 
    
     font-size: 11px;
    
     

}
.signupform input
 {
  border: 1px solid #3a86b3;
  border-radius: .15rem;
     
      
}
#submit {
    background-color: #51C0FF;
    color:black;
    font-size: .65rem;
    padding: 5px;
     border-radius: .15rem;
}