.Box {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}

.Logo {
    display: flex;
    flex-direction: row;
    width: 10rem;
    justify-content: space-between;
    border: 1px solid #000;
    align-items: center;
}