.topbar {
  display: flex;
  height:  100px;
  justify-content: space-evenly;
  align-items:  center;
  padding: 14px 18px;
  background-color: beige;
  color: black;
  text-align: center;
  /* float: inline-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%); */
}

/*----------------------------LOGO-----------------*/

.logo img {
  height:  50px;
}

.nav {
  font-size: 20px;
  align-items: center;
}

.nav, .nav-btn {
  padding: 1;
  display:  flex;
  font-weight:  bold;
  align-items: center;
  align-items: flex-end;
}

  .nav li, .nav-btn li {
      list-style-type: none;
      padding-right:  1em;
  }

  .nav a, .footer-content a {
      color: #8D8D8D;
  }

  /* .Header {
    width: 10%;
    height: 92px;
    border: 1px solid #000; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Header {
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

/*------------CATEGORIES---------------------------------------------*/
.categories{
  text-align: center;
  background-color: white;
}

.categories a{
  padding: 6px 8px 6px 16px;
  font-size: 15px;
  color: black;
  display: block;
}







/* .top-navbar {
  width: 178px;
  height: 100%;
  float:left;
  background-color: beige;
} */

/* .top-nav{
  overflow:hidden;

}

.top-nav a{
  float:left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
  background-color: black;
  display: inline-block;
  
}

.top-nav a:hover{
  background-color: beige;
  color: black;
}

.main {
  text-align: center;
  float: left;
  height: 100%;
  width: 100%;
}
 */


/* .sidebar{
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: beige;
  overflow-x: hidden;
  padding-top: 20px;
} */

/* .sidebar a{
  padding: 6px 8px 6px 16px;
  font-size: 15px;
  color: black;
  display: block; */





/*------------------------Search Bar---------------------------------*/
/* .search-container {
  float: right;
}

.search-container[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button{
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: red;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

 */











/* html {
  background-color: #fdfaed;
}

.App {
  text-align: center;
  background-color: #fdfaed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
